.skeleton {
  width: 100%;
  background: #fff;
  border-radius: 5px;
  h1,
  h2,
  p,
  h4 {
    background: #eee;
    background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
    background-size: 200% 100%;
    animation: 1.5s shine linear infinite;
  }
  h1 {
    height: 30px;
    margin-bottom: 48px;
  }
  h2 {
    height: 24px;
    margin-bottom: 16px;
  }

  p {
    height: 16px;
    margin-bottom: 16px;
  }
  h4 {
    height: 8px;
    display: none;
  }
}

.skeleton.skeleton-product {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  .image {
    background: #eee;
    background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
    background-size: 200% 100%;
    animation: 1.5s shine linear infinite;
  }

  .image {
    height: 225px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    img {
      max-width: 100%;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
  }

  .content {
    padding: 16px;
  }
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}

.skeleton.skeleton-filter {
  h2 {
    margin: 36px 0;
  }
  p {
    width: 50%;
  }
}
.skeleton.skeleton-sort {
  p {
    margin-bottom: 0;
  }
}

.skeleton.skeleton-single-product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  max-width: 840px;
  margin: 0 auto;
  .image {
    background: #eee;
    background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
    background-size: 200% 100%;
    animation: 1.5s shine linear infinite;
  }

  .image {
    height: 400px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    img {
      max-width: 100%;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
  }

  .content {
    h1 {
      margin-bottom: 20px;
    }
    h2 {
      width: 40%;
    }
    p {
      width: 20%;
    }
    h4 {
      height: 80px;
      display: block;
    }
  }
}

@media (max-width: 767.99px) {
  .skeleton.skeleton-filter {
    h1 {
      display: none;
    }
    h2 {
      margin: 0 0 16px;
    }
    p {
      display: none;
    }
    h4 {
      display: block;
    }
  }
  .skeleton.skeleton-single-product {
    grid-template-columns: 1fr;
  }
}
