body {
  font-family: "Roboto", sans-serif;
  color: $cl-text;
  // line-height: 1.6;
  overflow-y: scroll;
}

.container {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  @media screen and (min-width: 576px) {
    max-width: 540px;
  }
  @media screen and (min-width: 768px) {
    max-width: 720px;
  }
  @media screen and (min-width: 992px) {
    max-width: 960px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1140px;
  }
  @media screen and (min-width: 1400px) {
    max-width: 1320px;
  }
}

.stars {
  color: #ff9529;
  font-size: 12px;
}

.section {
  padding: 80px 0;
  @media screen and (max-width: 768px) {
    padding: 40px 0;
  }
}
